{% extends "base.html" %}
{% block content %}
<body>
    <div class="d-flex vh-100">
        <div class="sidebar bg-primary p-5">
            <div class="d-flex gap-3 align-items-center">
                <img class="svg-sm" src="{{ url_for('static', filename='assets/camera-solid.svg') }}" alt="">
                <span class="fs-4 text-light">Scan:</span>
            </div>
            <ul class="nav flex-column scanner">
                <li class="nav-item d-flex align-items-center ps-3">
                    <img class="svg-sm" src="{{ url_for('static', filename='assets/plus-solid.svg') }}" alt="">
                    <a href="/scan/invoice" class="nav-link active link-light">Invoice</a>
                </li>
                <li class="nav-item d-flex align-items-center ps-3">
                    <img class="svg-sm" src="{{ url_for('static', filename='assets/plus-solid.svg') }}" alt="">
                    <a href="/scan/receipt" class="nav-link active link-light">Receipt</a>
                </li>
            </ul>
            <a class="text-light" href="{{ url_for('auth.logout')}}">Log out</a>
        </div>
        <div class="main bg-light flex-grow-1">
            <div class="container cards p-5">
                {% for entity in entities %}
                <li>{{ entity.title }}</li>
                {% endfor %}
            </div>
            <nav aria-label="Page navigation example ">
                <ul class="pagination justify-content-center">
                </ul>
            </nav>
        </div>
    </div>
</body>
{% endblock %}


